.navbar{
    background-color: #343a40;
}
.navbar .navbar-brand{
    color: #ffff;
}
.navbar .nav-link{
    color: #ffff !important;
    text-decoration: none !important;
    margin-right: 20px;

}
@media(max-width:756px) {
    .navbar .nav-link{
        margin-right: 0;
    }
    
}